#ic {
  z-index: -15;
  opacity: 0.06;
  padding: 0;
  margin: 0;
  bottom: -10px;
  right: 0px;
  position: absolute;
}

.nav-bg {
  height: 80px;
  padding: 0 0 0 30px;
  line-height: 80px;
  background: white;
  filter: drop-shadow(0px 13px 10px #f0f0f0);
}

.logo {
  margin-right: 90px;
  vertical-align: middle;
  height: 55%;
}

.NavItem {
  padding: 3px;
  color: #565656;
  font-size: 0.78em;
  margin: 20px;
  font-weight: 700;
  transition: 0.2s;
}

.NavItem:hover {
  color: #000;
  font-size: 0.88em;
  cursor: pointer;
}

.selected {
  color: #000;
  border-bottom: 2.5px solid #ff6600;
}

.selected:hover {
  font-size: 0.78em;
}

.Header {
  margin-top: 10px;
  z-index: 5;
  height: 70px;
  line-height: 70px;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.8em;
}

.Header > i {
  padding: 10px;
}

.Header > .fa-align-right {
  font-size: 1.3em;
  transform: rotate(180deg);
  transition: 0.3s;
}
.Header > .fa-align-right:hover {
  cursor: pointer;
  font-size: 1.5em;
}

.Header > .fa-th,
.Header > .fa-user-circle:hover {
  cursor: pointer;
}

.Header > .fa-th {
  font-size: 1.3em;
}

.Header > .fa-user-circle {
  margin-top: -7px;
  font-size: 2em;
  color: #ff6600;
}

.Breadcrumbs {
  line-height: 30px;
  transform: translateY(25%);
  margin-left: 10em;
  margin-right: auto;
  font-size: 0.75em;
}

.Breadcrumbs > span:nth-child(2) {
  color: #ff6600;
}

.Breadcrumbs > span:last-child {
  font-weight: 500;
}

.Searchbar {
  line-height: 30px;
  transform: translateY(25%);
  margin-left: 10em;
  margin-right: auto;
  font-size: 0.75em;
}

.Searchbar > input {
  outline: none;
  padding: 0.5em;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ff6600;
  border-right: none;
}

.Searchbar > button {
  padding: 0.5em;
  font-variant: small-caps;
  background-color: rgba(255, 102, 0, 0.2);
  border: 1px solid #ff6600;
  border-radius: 0 5px 5px 0;
}

.AcademicsView {
  padding-bottom: 50px;
  display: flex;
}

.SideBar > span {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 25vh;
  margin-left: 0.25em;
  user-select: none;
}

.SideBar > span > span {
  color: #ff6600;
}

.Table {
  font-size: 0.8em;
  margin-left: 50px;
  margin-top: 50px;
}

.table1 {
  width: 25%;
  border-right: 4px solid #ff6600;
  margin-right: 75px;
}

.Table td {
  padding-bottom: 0.9em;
  padding-top: 0.9em;
}

.table2 {
  width: 25%;
}

#val1 {
  width: 130px;
  font-weight: 700;
}

.ShadowText {
  position: absolute;
  bottom: 5px;
  z-index: -10;
  left: 200px;
  font-size: 25vh;
  font-weight: 700;

  background-color: #ccc;
  color: transparent;
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  user-select: none;
}

.ShadowText > span {
  background-color: rgba(255, 102, 0, 0.8);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
